rm3_flow.json
[
    {
        "id": "54f1c391.4eaf7c",
        "type": "tab",
        "label": "DMX to Broadlink RM mini 3",
        "disabled": false,
        "info": "Copyright (C) 2020 Johan Nilsson\nhttps://gobo.ws"
    },
    {
        "id": "d3d0b5ed.6f9c18",
        "type": "template",
        "z": "54f1c391.4eaf7c",
        "name": "Request code",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{req.query.code}}",
        "x": 600,
        "y": 180,
        "wires": [
            [
                "1a2c7638.352f7a",
                "ab6d3ac5.77ce88"
            ]
        ]
    },
    {
        "id": "1a2c7638.352f7a",
        "type": "http response",
        "z": "54f1c391.4eaf7c",
        "name": "",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "ab6d3ac5.77ce88",
        "type": "function",
        "z": "54f1c391.4eaf7c",
        "name": "Send code to RM3",
        "func": "msg.topic = \"192.168.0.1\" // RM3 hostname or IP address\nmsg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 180,
        "wires": [
            [
                "821d4001.d7b"
            ]
        ]
    },
    {
        "id": "29dcdd32.11b5b2",
        "type": "http in",
        "z": "54f1c391.4eaf7c",
        "name": "",
        "url": "/rgb-remote",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "d3d0b5ed.6f9c18"
            ]
        ]
    },
    {
        "id": "821d4001.d7b",
        "type": "simple-rm3",
        "z": "54f1c391.4eaf7c",
        "name": "RM3",
        "ipaddress": "192.168.0.1",
        "x": 970,
        "y": 180,
        "wires": [
            []
        ]
    }
]
